<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
  <script defer src="script.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="logobird"></div>
  <div class="logoairforce"></div>
  <div class="login-page" id="login-form">
      <form id="login-form" action="/formLogin" method="post">
        <h2>Login</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button class="submit-button" type="submit">Login</button><br><br>
      </form>
      <button class="login-button" onclick="location.href='/signup'">Sign Up</button>
  </div>
</body>
</html>