<!-- signup.html -->
<!DOCTYPE html>
<html>
<head>
  <script defer src="script.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="logobird"></div>
  <div class="logoairforce"></div>
  <div class="signup-page">
    <form id="signup-form" action="/formSignUp" method="post">
      <h2>Sign Up</h2>
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button class="submit-button" type="submit">Sign Up</button><br><br>
    </form>
    <button class="login-button" onclick="location.href='/'">Login</button>
  </div>
</body>
</html>